<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">


<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">eLibrary</a>
  </section>
  <section class="navbar-center">
    <img src="https://picturepan2.github.io/spectre/img/spectre-logo.svg">
  </section>
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Book/Author Search</a>
    <a href="/Fetch" class="btn btn-link">ISBN Search</a>
    <a href="/List" class="btn btn-link">Genre</a>
  </section>
</header>