<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>eLibrary VIT Chennai</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- views/partials/header.ejs -->
<%- include('partials/navbar') %>

<!-- grid offset example -->
<div class="container mt-5">
  <div class="columns">
    <div class="column col-8 col-mx-auto">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" method="post" action="/fetchresult">
            <div class="form-group">
              <div class="col-sm-12">
                <label class="form-label" for="query">ISBN</label>
              </div>
              <div class="col-sm-12">
                <input class="form-input" type="text" name="query" id="query" required placeholder="Enter ISBN10 or ISBN13" maxlength="13" required>
              </div>
            </div>
            <button class="btn btn-primary ml-3 mt-3" type="submit" name="action">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- views/partials/footer.ejs -->
<p class="text-center text-muted mt-5">© Copyright 2019 Sahil Arora, S.V, Aditya Hemant</p>
