<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>eLibrary VIT Chennai</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">eLibrary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/Search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Recommend">Recommend</a>
        </li>
    </div>
  </nav>

<br><br><br>
<form method="post" action="/result">
<div class="input-group mb-3 container">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Search</span>
  </div>

  <input type="text" class="form-control" placeholder="Search by book title or Author" name="query">
  <input type="submit" value="Submit"><br>
</div>
  
</form>


<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019 Sahil Arora, S.V, Aditya Hemant</p>
